{
  "openapi": "3.0.1",
  "info": {
    "title": "Vehicle Market Value",
    "description": "Get insight into vehicle market data to understand the real vehicle valuation.",
    "termsOfService": "https://vindecoder.eu/terms-and-conditions",
    "contact": {
      "name": "Vincario",
      "url": "https://vindecoder.eu/",
      "email": "support@vindecoder.eu"
    },
    "version": "3.2"
  },
  "externalDocs": {
    "description": "Vincario API Documentation",
    "url": "https://vindecoder.eu/my/api/latest/docs"
  },
  "servers": [
    {
      "url": "https://api.vindecoder.eu"
    }
  ],
  "paths": {
    "/3.2/vehicle-market-value/{VIN}.{format}": {
      "get": {
        "parameters": [
          {
            "name": "VIN",
            "in": "path",
            "description": "Vehicle Identification Number",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "maxLength": 17,
              "minLength": 17,
              "type": "string"
            },
            "example": "WF05XXGC055870807"
          },
          {
            "name": "format",
            "in": "path",
            "description": "Response format (json or html)",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "default": "json"
            }
          },
          {
            "name": "X-API-Key",
            "in": "header",
            "description": "Request API key at https://vindecoder.eu/api/",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Response example",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/inline_response_200"
                },
                "examples": {
                  "0": {
                    "value": "{\n  \"vin\": \"WF05XXGC055870807\",\n  \"price\": 0,\n  \"price_currency\": \"CZK\",\n  \"balance\": {\n      \"API Decode\": 17,\n      \"API Stolen Check\": 4,\n      \"API Vehicle Market Value\": 4\n  },\n  \"vehicle\": {\n      \"vehicle_id\": 1619,\n      \"make\": \"Ford\",\n      \"make_id\": 30,\n      \"model\": \"Focus\",\n      \"model_id\": 17779,\n      \"model_year\": 2005,\n      \"transmission\": \"Manual/Standard\",\n      \"transmission_id\": 6\n  },\n  \"period\": {\n      \"from\": \"2022-03-20\",\n      \"to\": \"2023-03-20\"\n  },\n  \"market_price\": {\n      \"price_count\": 499,\n      \"price_currency\": \"EUR\",\n      \"price_below\": 1300,\n      \"price_mean\": 2200,\n      \"price_avg\": 2258,\n      \"price_above\": 3200,\n      \"price_stdev\": 864\n  },\n  \"market_odometer\": {\n      \"odometer_count\": 499,\n      \"odometer_unit\": \"km\",\n      \"odometer_below\": 146100,\n      \"odometer_mean\": 184000,\n      \"odometer_avg\": 183882,\n      \"odometer_above\": 220000,\n      \"odometer_stdev\": 62967\n  },\n  \"records\": [\n      {\n          \"market\": \"DE\",\n          \"price\": 500,\n          \"price_currency\": \"EUR\",\n          \"odometer\": 234000,\n          \"odometer_unit\": \"km\"\n      },\n      {\n          \"market\": \"DE\",\n          \"price\": 600,\n          \"price_currency\": \"EUR\",\n          \"odometer\": 148000,\n          \"odometer_unit\": \"km\"\n      },\n      {\n          \"market\": \"DE\",\n          \"price\": 600,\n          \"price_currency\": \"EUR\",\n          \"odometer\": 196000,\n          \"odometer_unit\": \"km\"\n      },\n      {\n          \"market\": \"DE\",\n          \"price\": 600,\n          \"price_currency\": \"EUR\",\n          \"odometer\": 205000,\n          \"odometer_unit\": \"km\"\n      },\n      {\n          \"market\": \"DE\",\n          \"price\": 700,\n          \"price_currency\": \"EUR\",\n          \"odometer\": 205000,\n          \"odometer_unit\": \"km\"\n      },\n      {\n          \"market\": \"DE\",\n          \"price\": 750,\n          \"price_currency\": \"EUR\",\n          \"odometer\": 210000,\n          \"odometer_unit\": \"km\"\n      },\n      {\n          \"market\": \"DE\",\n          \"price\": 750,\n          \"price_currency\": \"EUR\",\n          \"odometer\": 294235,\n          \"odometer_unit\": \"km\"\n      },\n      {\n          \"market\": \"DE\",\n          \"price\": 790,\n          \"price_currency\": \"EUR\",\n          \"odometer\": 241392,\n          \"odometer_unit\": \"km\"\n      },\n      {\n          \"market\": \"DE\",\n          \"price\": 799,\n          \"price_currency\": \"EUR\",\n          \"odometer\": 274000,\n          \"odometer_unit\": \"km\"\n      },\n      {\n          \"market\": \"DE\",\n          \"price\": 800,\n          \"price_currency\": \"EUR\",\n          \"odometer\": 135000,\n          \"odometer_unit\": \"km\"\n      }\n  ]\n}"
                  }
                }
              }
            }
          }
        }
      },
      "servers": [
        {
          "url": "https://api.vindecoder.eu"
        }
      ]
    }
  },
  "components": {
    "schemas": {
      "inline_response_200": {
        "type": "object",
        "properties": {
          "stolen": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "code": {
                  "type": "string"
                },
                "status": {
                  "type": "string"
                }
              }
            }
          },
          "balance": {
            "type": "object",
            "properties": {
              "API Decode": {
                "type": "integer"
              },
              "API Vehicle Market Value": {
                "type": "integer"
              },
              "API Stolen Check": {
                "type": "integer"
              }
            }
          },
          "price": {
            "type": "integer"
          },
          "vin": {
            "type": "string"
          },
          "price_currency": {
            "type": "string"
          }
        }
      }
    }
  }
}