{
  "openapi": "3.0.1",
  "info": {
    "title": "Vincario APIs",
    "description": "Vincario API services",
    "version": "3.2"
  },
  "servers": [
    {
      "url": "https://api.vindecoder.eu"
    }
  ],
  "paths": {
    "/3.2/decode/{VIN}.{format}": {
      "get": {
        "description": "VIN Decode",
        "parameters": [
          {
            "name": "VIN",
            "in": "path",
            "description": "Vehicle Identification Number",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "maxLength": 17,
              "minLength": 17,
              "type": "string"
            },
            "example": "TMBGE61Z762171194"
          },
          {
            "name": "format",
            "in": "path",
            "description": "Response format (json or html)",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "default": "json"
            }
          },
          {
            "name": "X-API-Key",
            "in": "header",
            "description": "Request API key at https://vindecoder.eu/api/",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Auto generated using Swagger Inspector",
            "content": {
              "application/json": {
                "examples": {
                  "0": {
                    "value": "{\"price\":0,\"price_currency\":\"CZK\",\"balance\":{\"API Decode\":17,\"API Stolen Check\":4,\"API Vehicle Market Value\":4},\"decode\":[{\"label\":\"VIN\",\"value\":\"WF05XXGC055870807\"},{\"label\":\"Vehicle ID\",\"value\":1619},{\"label\":\"Make\",\"value\":\"Ford\",\"id\":30},{\"label\":\"Model\",\"value\":\"Focus\",\"id\":17779},{\"label\":\"Model Year\",\"value\":2005},{\"label\":\"Product Type\",\"value\":\"Car\",\"id\":4},{\"label\":\"Body\",\"value\":\"Hatchback\\/Liftback\\/Notchback\",\"id\":5},{\"label\":\"Series\",\"value\":\"Mk2 (2004-2011)\"},{\"label\":\"Drive\",\"value\":\"Front-wheel drive\",\"id\":1},{\"label\":\"Transmission\",\"value\":\"Manual\\/Standard\",\"id\":6},{\"label\":\"Number of Gears\",\"value\":5},{\"label\":\"Emission Standard\",\"value\":\"Euro 4\"},{\"label\":\"Manufacturer\",\"value\":\"Ford Werke AG\"},{\"label\":\"Manufacturer Address\",\"value\":\"Koeln-Niehl, Germany\"},{\"label\":\"Plant Country\",\"value\":\"Germany\"},{\"label\":\"Average CO2 Emission (g\\/km)\",\"value\":152.21},{\"label\":\"Number of Axles\",\"value\":2},{\"label\":\"Number of Doors\",\"value\":4},{\"label\":\"Number of Seats\",\"value\":\"5\"},{\"label\":\"Steering Type\",\"value\":\"Steering rack and pinion\"},{\"label\":\"Wheel Size\",\"value\":\"195\\/65R15*205\\/50R17*205\\/55R16\"},{\"label\":\"Wheel Size Array\",\"value\":[\"195\\/65R15*205\\/50R17*205\\/55R16\"]},{\"label\":\"Wheelbase (mm)\",\"value\":2640},{\"label\":\"Wheelbase Array (mm)\",\"value\":[2640]},{\"label\":\"Height (mm)\",\"value\":1497},{\"label\":\"Length (mm)\",\"value\":4342},{\"label\":\"Width (mm)\",\"value\":1840},{\"label\":\"Track Front (mm)\",\"value\":1535},{\"label\":\"Track Rear (mm)\",\"value\":1531},{\"label\":\"Max Speed (km\\/h)\",\"value\":190},{\"label\":\"Weight Empty (kg)\",\"value\":1249},{\"label\":\"Max Weight (kg)\",\"value\":1730},{\"label\":\"Max roof load (kg)\",\"value\":75},{\"label\":\"Permitted trailer load without brakes (kg)\",\"value\":620},{\"label\":\"ABS\",\"value\":1},{\"label\":\"Check Digit\",\"value\":\"0\"},{\"label\":\"Sequential Number\",\"value\":\"870807\"}]}"
                  }
                }
              }
            }
          }
        }
      },
      "servers": [
        {
          "url": "https://api.vindecoder.eu"
        }
      ]
    },
    "/3.2/vehicle-market-value/{VIN}.{format}": {
      "get": {
        "description": "Vehicle Market Value",
        "parameters": [
          {
            "name": "VIN",
            "in": "path",
            "description": "Vehicle Identification Number",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "maxLength": 17,
              "minLength": 17,
              "type": "string"
            },
            "example": "WF05XXGC055870807"
          },
          {
            "name": "format",
            "in": "path",
            "description": "Response format (json or html)",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "default": "json"
            }
          },
          {
            "name": "X-API-Key",
            "in": "header",
            "description": "Request API key at https://vindecoder.eu/api/",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Response example",
            "content": {
              "application/json": {
                "examples": {
                  "0": {
                    "value": "{\n  \"vin\": \"WF05XXGC055870807\",\n  \"price\": 0,\n  \"price_currency\": \"CZK\",\n  \"balance\": {\n      \"API Decode\": 17,\n      \"API Stolen Check\": 4,\n      \"API Vehicle Market Value\": 4\n  },\n  \"vehicle\": {\n      \"vehicle_id\": 1619,\n      \"make\": \"Ford\",\n      \"make_id\": 30,\n      \"model\": \"Focus\",\n      \"model_id\": 17779,\n      \"model_year\": 2005,\n      \"transmission\": \"Manual/Standard\",\n      \"transmission_id\": 6\n  },\n  \"period\": {\n      \"from\": \"2022-03-20\",\n      \"to\": \"2023-03-20\"\n  },\n  \"market_price\": {\n      \"price_count\": 499,\n      \"price_currency\": \"EUR\",\n      \"price_below\": 1300,\n      \"price_mean\": 2200,\n      \"price_avg\": 2258,\n      \"price_above\": 3200,\n      \"price_stdev\": 864\n  },\n  \"market_odometer\": {\n      \"odometer_count\": 499,\n      \"odometer_unit\": \"km\",\n      \"odometer_below\": 146100,\n      \"odometer_mean\": 184000,\n      \"odometer_avg\": 183882,\n      \"odometer_above\": 220000,\n      \"odometer_stdev\": 62967\n  },\n  \"records\": [\n      {\n          \"market\": \"DE\",\n          \"price\": 500,\n          \"price_currency\": \"EUR\",\n          \"odometer\": 234000,\n          \"odometer_unit\": \"km\"\n      },\n      {\n          \"market\": \"DE\",\n          \"price\": 600,\n          \"price_currency\": \"EUR\",\n          \"odometer\": 148000,\n          \"odometer_unit\": \"km\"\n      },\n      {\n          \"market\": \"DE\",\n          \"price\": 600,\n          \"price_currency\": \"EUR\",\n          \"odometer\": 196000,\n          \"odometer_unit\": \"km\"\n      },\n      {\n          \"market\": \"DE\",\n          \"price\": 600,\n          \"price_currency\": \"EUR\",\n          \"odometer\": 205000,\n          \"odometer_unit\": \"km\"\n      },\n      {\n          \"market\": \"DE\",\n          \"price\": 700,\n          \"price_currency\": \"EUR\",\n          \"odometer\": 205000,\n          \"odometer_unit\": \"km\"\n      },\n      {\n          \"market\": \"DE\",\n          \"price\": 750,\n          \"price_currency\": \"EUR\",\n          \"odometer\": 210000,\n          \"odometer_unit\": \"km\"\n      },\n      {\n          \"market\": \"DE\",\n          \"price\": 750,\n          \"price_currency\": \"EUR\",\n          \"odometer\": 294235,\n          \"odometer_unit\": \"km\"\n      },\n      {\n          \"market\": \"DE\",\n          \"price\": 790,\n          \"price_currency\": \"EUR\",\n          \"odometer\": 241392,\n          \"odometer_unit\": \"km\"\n      },\n      {\n          \"market\": \"DE\",\n          \"price\": 799,\n          \"price_currency\": \"EUR\",\n          \"odometer\": 274000,\n          \"odometer_unit\": \"km\"\n      },\n      {\n          \"market\": \"DE\",\n          \"price\": 800,\n          \"price_currency\": \"EUR\",\n          \"odometer\": 135000,\n          \"odometer_unit\": \"km\"\n      }\n  ]\n}"
                  }
                }
              }
            }
          }
        }
      },
      "servers": [
        {
          "url": "https://api.vindecoder.eu"
        }
      ]
    },
    "/3.2/stolen-check/{VIN}.{format}": {
      "get": {
        "description": "Stolen Check",
        "parameters": [
          {
            "name": "VIN",
            "in": "path",
            "description": "Vehicle Identification Number",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "maxLength": 17,
              "minLength": 17,
              "type": "string"
            },
            "example": "TMBGE61Z762171194"
          },
          {
            "name": "format",
            "in": "path",
            "description": "Response format (json or html)",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "default": "json"
            }
          },
          {
            "name": "X-API-Key",
            "in": "header",
            "description": "Request API key at https://vindecoder.eu/api/",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Response example",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/inline_response_200"
                },
                "examples": {
                  "0": {
                    "value": "{\"vin\":\"TMBGE61Z762171194\",\"price\":0,\"price_currency\":\"CZK\",\"balance\":{\"API Decode\":18,\"API Stolen Check\":4,\"API Vehicle Market Value\":4},\"stolen\":[{\"code\":\"cz\",\"status\":\"stolen\"},{\"code\":\"hu\",\"status\":\"not-stolen\"},{\"code\":\"ro\",\"status\":\"not-stolen\"},{\"code\":\"si\",\"status\":\"not-stolen\"},{\"code\":\"vincario\",\"status\":\"not-stolen\"}]}"
                  }
                }
              }
            }
          }
        },
        "servers": [
          {
            "url": "https://api.vindecoder.eu"
          }
        ]
      },
      "servers": [
        {
          "url": "https://api.vindecoder.eu"
        }
      ]
    }
  },
  "components": {
    "schemas": {
      "inline_response_200": {
        "type": "object",
        "properties": {
          "stolen": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "code": {
                  "type": "string"
                },
                "status": {
                  "type": "string"
                }
              }
            }
          },
          "balance": {
            "type": "object",
            "properties": {
              "API Decode": {
                "type": "integer"
              },
              "API Vehicle Market Value": {
                "type": "integer"
              },
              "API Stolen Check": {
                "type": "integer"
              }
            }
          },
          "price": {
            "type": "integer"
          },
          "vin": {
            "type": "string"
          },
          "price_currency": {
            "type": "string"
          }
        }
      }
    }
  }
}