openapi: 3.0.1
info:
  description: Real-time VIN check in official national police databases of stolen vehicles.
  version: '3.2'
  title: Stolen check
  termsOfService: https://vindecoder.eu/terms-and-conditions
  contact:
    name: Vincario
    email: support@vindecoder.eu
    url: https://vindecoder.eu/
servers:
  - url: https://api.vindecoder.eu
paths:
  /3.2/stolen-check/{VIN}.{format}:
    get:
      parameters:
        - in: path
          name: VIN
          required: true
          schema:
            type: string
            minLength: 17
            maxLength: 17
          description: Vehicle Identification Number
          example: TMBGE61Z762171194
        - in: path
          name: format
          required: true
          schema:
            type: string
            default: json
          description: Response format (json or html)
        - name: X-API-Key
          in: header
          schema:
            type: string
          description: Request API key at https://vindecoder.eu/api/
      responses:
        '200':
          description: Response example
          content:
            application/json:
              schema:
                type: object
                properties:
                  stolen:
                    type: array
                    items:
                      type: object
                      properties:
                        code:
                          type: string
                        status:
                          type: string
                  balance:
                    type: object
                    properties:
                      API Decode:
                        type: integer
                      API Vehicle Market Value:
                        type: integer
                      API Stolen Check:
                        type: integer
                  price:
                    type: integer
                  vin:
                    type: string
                  price_currency:
                    type: string
              examples:
                '0':
                  value: >-
                    {"vin":"TMBGE61Z762171194","price":0,"price_currency":"CZK","balance":{"API
                    Decode":18,"API Stolen Check":4,"API Vehicle Market
                    Value":4},"stolen":[{"code":"cz","status":"stolen"},{"code":"hu","status":"not-stolen"},{"code":"ro","status":"not-stolen"},{"code":"si","status":"not-stolen"},{"code":"vincario","status":"not-stolen"}]}
      servers:
        - url: https://api.vindecoder.eu
    servers:
      - url: https://api.vindecoder.eu
externalDocs:
  description: Vincario API Documentation
  url: https://vindecoder.eu/my/api/latest/docs