openapi: 3.0.1
info:
  title: Vincario APIs
  description: Vincario API services
  version: '3.2'
servers:
  - url: https://api.vindecoder.eu
paths:
  /3.2/decode/{VIN}.{format}:
    get:
      description: VIN Decode
      parameters:
      - name: VIN
        in: path
        description: Vehicle Identification Number
        required: true
        style: simple
        explode: false
        schema:
          maxLength: 17
          minLength: 17
          type: string
        example: TMBGE61Z762171194
      - name: format
        in: path
        description: Response format (json or html)
        required: true
        style: simple
        explode: false
        schema:
          type: string
          default: json
      - name: X-API-Key
        in: header
        description: Request API key at https://vindecoder.eu/api/
        required: false
        style: simple
        explode: false
        schema:
          type: string
      responses:
        "200":
          description: Auto generated using Swagger Inspector
          content:
            application/json:
              examples:
                "0":
                  value: '{"price":0,"price_currency":"CZK","balance":{"API Decode":17,"API Stolen Check":4,"API Vehicle Market Value":4},"decode":[{"label":"VIN","value":"WF05XXGC055870807"},{"label":"Vehicle ID","value":1619},{"label":"Make","value":"Ford","id":30},{"label":"Model","value":"Focus","id":17779},{"label":"Model Year","value":2005},{"label":"Product Type","value":"Car","id":4},{"label":"Body","value":"Hatchback\/Liftback\/Notchback","id":5},{"label":"Series","value":"Mk2 (2004-2011)"},{"label":"Drive","value":"Front-wheel drive","id":1},{"label":"Transmission","value":"Manual\/Standard","id":6},{"label":"Number of Gears","value":5},{"label":"Emission Standard","value":"Euro 4"},{"label":"Manufacturer","value":"Ford Werke AG"},{"label":"Manufacturer Address","value":"Koeln-Niehl, Germany"},{"label":"Plant Country","value":"Germany"},{"label":"Average CO2 Emission (g\/km)","value":152.21},{"label":"Number of Axles","value":2},{"label":"Number of Doors","value":4},{"label":"Number of Seats","value":"5"},{"label":"Steering Type","value":"Steering rack and pinion"},{"label":"Wheel Size","value":"195\/65R15*205\/50R17*205\/55R16"},{"label":"Wheel Size Array","value":["195\/65R15*205\/50R17*205\/55R16"]},{"label":"Wheelbase (mm)","value":2640},{"label":"Wheelbase Array (mm)","value":[2640]},{"label":"Height (mm)","value":1497},{"label":"Length (mm)","value":4342},{"label":"Width (mm)","value":1840},{"label":"Track Front (mm)","value":1535},{"label":"Track Rear (mm)","value":1531},{"label":"Max Speed (km\/h)","value":190},{"label":"Weight Empty (kg)","value":1249},{"label":"Max Weight (kg)","value":1730},{"label":"Max roof load (kg)","value":75},{"label":"Permitted trailer load without brakes (kg)","value":620},{"label":"ABS","value":1},{"label":"Check Digit","value":"0"},{"label":"Sequential Number","value":"870807"}]}'
    servers:
      - url: https://api.vindecoder.eu
  /3.2/vehicle-market-value/{VIN}.{format}:
    get:
      description: Vehicle Market Value
      parameters:
      - name: VIN
        in: path
        description: Vehicle Identification Number
        required: true
        style: simple
        explode: false
        schema:
          maxLength: 17
          minLength: 17
          type: string
        example: WF05XXGC055870807
      - name: format
        in: path
        description: Response format (json or html)
        required: true
        style: simple
        explode: false
        schema:
          type: string
          default: json
      - name: X-API-Key
        in: header
        description: Request API key at https://vindecoder.eu/api/
        required: false
        style: simple
        explode: false
        schema:
          type: string
      responses:
        "200":
          description: Response example
          content:
            application/json:
              examples:
                "0":
                  value: |-
                    {
                      "vin": "WF05XXGC055870807",
                      "price": 0,
                      "price_currency": "CZK",
                      "balance": {
                          "API Decode": 17,
                          "API Stolen Check": 4,
                          "API Vehicle Market Value": 4
                      },
                      "vehicle": {
                          "vehicle_id": 1619,
                          "make": "Ford",
                          "make_id": 30,
                          "model": "Focus",
                          "model_id": 17779,
                          "model_year": 2005,
                          "transmission": "Manual/Standard",
                          "transmission_id": 6
                      },
                      "period": {
                          "from": "2022-03-20",
                          "to": "2023-03-20"
                      },
                      "market_price": {
                          "price_count": 499,
                          "price_currency": "EUR",
                          "price_below": 1300,
                          "price_mean": 2200,
                          "price_avg": 2258,
                          "price_above": 3200,
                          "price_stdev": 864
                      },
                      "market_odometer": {
                          "odometer_count": 499,
                          "odometer_unit": "km",
                          "odometer_below": 146100,
                          "odometer_mean": 184000,
                          "odometer_avg": 183882,
                          "odometer_above": 220000,
                          "odometer_stdev": 62967
                      },
                      "records": [
                          {
                              "market": "DE",
                              "price": 500,
                              "price_currency": "EUR",
                              "odometer": 234000,
                              "odometer_unit": "km"
                          },
                          {
                              "market": "DE",
                              "price": 600,
                              "price_currency": "EUR",
                              "odometer": 148000,
                              "odometer_unit": "km"
                          },
                          {
                              "market": "DE",
                              "price": 600,
                              "price_currency": "EUR",
                              "odometer": 196000,
                              "odometer_unit": "km"
                          },
                          {
                              "market": "DE",
                              "price": 600,
                              "price_currency": "EUR",
                              "odometer": 205000,
                              "odometer_unit": "km"
                          },
                          {
                              "market": "DE",
                              "price": 700,
                              "price_currency": "EUR",
                              "odometer": 205000,
                              "odometer_unit": "km"
                          },
                          {
                              "market": "DE",
                              "price": 750,
                              "price_currency": "EUR",
                              "odometer": 210000,
                              "odometer_unit": "km"
                          },
                          {
                              "market": "DE",
                              "price": 750,
                              "price_currency": "EUR",
                              "odometer": 294235,
                              "odometer_unit": "km"
                          },
                          {
                              "market": "DE",
                              "price": 790,
                              "price_currency": "EUR",
                              "odometer": 241392,
                              "odometer_unit": "km"
                          },
                          {
                              "market": "DE",
                              "price": 799,
                              "price_currency": "EUR",
                              "odometer": 274000,
                              "odometer_unit": "km"
                          },
                          {
                              "market": "DE",
                              "price": 800,
                              "price_currency": "EUR",
                              "odometer": 135000,
                              "odometer_unit": "km"
                          }
                      ]
                    }
    servers:
    - url: https://api.vindecoder.eu
  /3.2/stolen-check/{VIN}.{format}:
    get:
      description: Stolen Check
      parameters:
        - in: path
          name: VIN
          required: true
          schema:
            type: string
            minLength: 17
            maxLength: 17
          description: Vehicle Identification Number
          example: TMBGE61Z762171194
        - in: path
          name: format
          required: true
          schema:
            type: string
            default: json
          description: Response format (json or html)
        - name: X-API-Key
          in: header
          schema:
            type: string
          description: Request API key at https://vindecoder.eu/api/
      responses:
        '200':
          description: Response example
          content:
            application/json:
              schema:
                type: object
                properties:
                  stolen:
                    type: array
                    items:
                      type: object
                      properties:
                        code:
                          type: string
                        status:
                          type: string
                  balance:
                    type: object
                    properties:
                      API Decode:
                        type: integer
                      API Vehicle Market Value:
                        type: integer
                      API Stolen Check:
                        type: integer
                  price:
                    type: integer
                  vin:
                    type: string
                  price_currency:
                    type: string
              examples:
                '0':
                  value: >-
                    {"vin":"TMBGE61Z762171194","price":0,"price_currency":"CZK","balance":{"API
                    Decode":18,"API Stolen Check":4,"API Vehicle Market
                    Value":4},"stolen":[{"code":"cz","status":"stolen"},{"code":"hu","status":"not-stolen"},{"code":"ro","status":"not-stolen"},{"code":"si","status":"not-stolen"},{"code":"vincario","status":"not-stolen"}]}
      servers:
        - url: https://api.vindecoder.eu
    servers:
      - url: https://api.vindecoder.eu