{
  "openapi" : "3.0.1",
  "info" : {
    "title" : "Vehicle Market Value",
    "description" : "Get insight into vehicle market data to understand the real vehicle valuation.",
    "version" : "3.2",
    "termsOfService" : "https://vindecoder.eu/terms-and-conditions",
    "contact" : {
      "name" : "Vincario",
      "email" : "support@vindecoder.eu",
      "url" : "https://vindecoder.eu/"
    }
  },
  "servers" : [ {
    "url" : "https://api.vindecoder.eu"
  } ],
  "paths" : {
    "/3.2/vehicle-market-value/{VIN}.{format}" : {
      "get" : {
        "parameters" : [ {
          "in" : "path",
          "name" : "VIN",
          "required" : true,
          "schema" : {
            "type" : "string",
            "minLength" : 17,
            "maxLength" : 17
          },
          "description" : "Vehicle Identification Number",
          "example" : "WF05XXGC055870807"
        }, {
          "in" : "path",
          "name" : "format",
          "required" : true,
          "schema" : {
            "type" : "string",
            "default" : "json"
          },
          "description" : "Response format (json or html)"
        }, {
          "name" : "X-API-Key",
          "in" : "header",
          "schema" : {
            "type" : "string"
          },
          "description" : "Request API key at https://vindecoder.eu/api/"
        } ],
        "responses" : {
          "200" : {
            "description" : "Response example",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object",
                  "properties" : {
                    "stolen" : {
                      "type" : "array",
                      "items" : {
                        "type" : "object",
                        "properties" : {
                          "code" : {
                            "type" : "string"
                          },
                          "status" : {
                            "type" : "string"
                          }
                        }
                      }
                    },
                    "balance" : {
                      "type" : "object",
                      "properties" : {
                        "API Decode" : {
                          "type" : "integer"
                        },
                        "API Vehicle Market Value" : {
                          "type" : "integer"
                        },
                        "API Stolen Check" : {
                          "type" : "integer"
                        }
                      }
                    },
                    "price" : {
                      "type" : "integer"
                    },
                    "vin" : {
                      "type" : "string"
                    },
                    "price_currency" : {
                      "type" : "string"
                    }
                  }
                },
                "examples" : {
                  "0" : {
                    "value" : "{\n  \"vin\": \"WF05XXGC055870807\",\n  \"price\": 0,\n  \"price_currency\": \"CZK\",\n  \"balance\": {\n      \"API Decode\": 17,\n      \"API Stolen Check\": 4,\n      \"API Vehicle Market Value\": 4\n  },\n  \"vehicle\": {\n      \"vehicle_id\": 1619,\n      \"make\": \"Ford\",\n      \"make_id\": 30,\n      \"model\": \"Focus\",\n      \"model_id\": 17779,\n      \"model_year\": 2005,\n      \"transmission\": \"Manual/Standard\",\n      \"transmission_id\": 6\n  },\n  \"period\": {\n      \"from\": \"2022-03-20\",\n      \"to\": \"2023-03-20\"\n  },\n  \"market_price\": {\n      \"price_count\": 499,\n      \"price_currency\": \"EUR\",\n      \"price_below\": 1300,\n      \"price_mean\": 2200,\n      \"price_avg\": 2258,\n      \"price_above\": 3200,\n      \"price_stdev\": 864\n  },\n  \"market_odometer\": {\n      \"odometer_count\": 499,\n      \"odometer_unit\": \"km\",\n      \"odometer_below\": 146100,\n      \"odometer_mean\": 184000,\n      \"odometer_avg\": 183882,\n      \"odometer_above\": 220000,\n      \"odometer_stdev\": 62967\n  },\n  \"records\": [\n      {\n          \"market\": \"DE\",\n          \"price\": 500,\n          \"price_currency\": \"EUR\",\n          \"odometer\": 234000,\n          \"odometer_unit\": \"km\"\n      },\n      {\n          \"market\": \"DE\",\n          \"price\": 600,\n          \"price_currency\": \"EUR\",\n          \"odometer\": 148000,\n          \"odometer_unit\": \"km\"\n      },\n      {\n          \"market\": \"DE\",\n          \"price\": 600,\n          \"price_currency\": \"EUR\",\n          \"odometer\": 196000,\n          \"odometer_unit\": \"km\"\n      },\n      {\n          \"market\": \"DE\",\n          \"price\": 600,\n          \"price_currency\": \"EUR\",\n          \"odometer\": 205000,\n          \"odometer_unit\": \"km\"\n      },\n      {\n          \"market\": \"DE\",\n          \"price\": 700,\n          \"price_currency\": \"EUR\",\n          \"odometer\": 205000,\n          \"odometer_unit\": \"km\"\n      },\n      {\n          \"market\": \"DE\",\n          \"price\": 750,\n          \"price_currency\": \"EUR\",\n          \"odometer\": 210000,\n          \"odometer_unit\": \"km\"\n      },\n      {\n          \"market\": \"DE\",\n          \"price\": 750,\n          \"price_currency\": \"EUR\",\n          \"odometer\": 294235,\n          \"odometer_unit\": \"km\"\n      },\n      {\n          \"market\": \"DE\",\n          \"price\": 790,\n          \"price_currency\": \"EUR\",\n          \"odometer\": 241392,\n          \"odometer_unit\": \"km\"\n      },\n      {\n          \"market\": \"DE\",\n          \"price\": 799,\n          \"price_currency\": \"EUR\",\n          \"odometer\": 274000,\n          \"odometer_unit\": \"km\"\n      },\n      {\n          \"market\": \"DE\",\n          \"price\": 800,\n          \"price_currency\": \"EUR\",\n          \"odometer\": 135000,\n          \"odometer_unit\": \"km\"\n      }\n  ]\n}"
                  }
                }
              }
            }
          }
        }
      },
      "servers" : [ {
        "url" : "https://api.vindecoder.eu"
      } ]
    }
  },
  "externalDocs" : {
    "description" : "Vincario API Documentation",
    "url" : "https://vindecoder.eu/my/api/latest/docs"
  }
}